.container {

      display: flex;
      flex-direction: column-reverse;
      justify-content: space-between;
      height: 300px;
      width: 400px;
      margin: 15px auto;
      background-color: pink;
      border-radius: 30px;
      align-items; flex-end;
      overflow: hidden;

}

.elemento {
    width: 100px;
    height: 50px;
    background-color: violet;
    text-align: center;
    line-height: 80px;
    position: relative;
    margin-left: 80%;

}